*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    max-width: 1280px;
    background-color: #F5F8FF;
    margin: auto;

}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.navbar ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar ul li{
    display: inline;
    margin: 0 10px;
}

.navbar ul li a{
    text-decoration: none;
    color: #333;
    
}
.shoping_cart{
    display: flex;
    margin-right: 5px;
}
.logo{
    width: 100px;
}
.home{
    font-weight: bold;
}
.shop{
    color: rgb(190, 179, 179);
}




.Join_Section{
    background-image: url(Assets/news-letter-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    height: 500px;
}