* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  max-width: 1280px;
  background-color: #f5f8ff;
  margin: auto;
}
.navbar {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
}
.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar ul li {
  display: inline;
  margin: 0 10px;
}

.navbar ul li a {
  text-decoration: none;
  color: #333;
}
.shoping_cart {
  display: flex;
  margin-right: 5px;
}
.logo {
  width: 100px;
}
.home {
  font-weight: bold;
}
.shop {
  color: rgb(190, 179, 179);
}

.hero_section {
  padding: 60px;
  display: flex;
  margin-top: 100px;
  margin-bottom: 10px;
}
.hero_text_head {
  color: #333;
  font-size: 60px;
}
.Fresh {
  color: #e95a08;
}
.hero-text {
  margin-top: 180px;
  color: #a8aaaf;
  
}


.plants {
  padding: 60px;
  text-align: center;
  font-size: 50px;
}
.plants_text{
  margin-bottom: 10px;
  color: #a8aaaf;
  text-align: center;
  justify-content: center;
  font-size: 20px;
}
.card img{
  width: 250px;
}
.bol_parent{
  display: flex;
  margin-bottom: 20px;
}
.bol{
  margin-top: 6px;
  background-color: #a8aaaf;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.card_parents{
  padding: 60px;
}
.card_div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2px;
}
.card {
  text-align: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 30px;
  gap:10px
}

.card_text {
  font-size: 15px;
}
.price {
  font-size: 20px;
  font-weight: bold;
}
.btn {
  display: block;
  width: 90%;
  font-size: 15px;
  background-color: #e95a08;
  border: none;
  color: white;
  padding: 15px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.plants_section{
  padding: 60px;
  margin-top: 50px;
  display: flex;
  gap: 50px;
  margin-bottom: 20px;
  
}
.plants_image {
  width: 500px;
  position: relative;
}

.badge {
  width: 200px;
  position: absolute;
  margin-left: 370px;
  margin-top: -80px;
}
.plants_heading {
  color: black;
  text-align: start;
  font-size: 40px;
}
.plants_text {
  margin: auto;
}
.plants_text li {
  padding: 10px;
  list-style: none;
  margin: 10px;
  text-align: left;
}

.Latest_Deals {
  padding: 60px;
  text-align: center;
  justify-content: center;
}
.Latest_Deals_heading {
  font-size: 40px;
  margin: 5px;
}
.Latest_Deals_text {
  color: #a8aaaf;
  font-size: 15px;
  margin-bottom: 50px;
}

.Latest_Deals_image {
  border-radius: 20px;
  display: flex;
  margin-left: 50px;
  
}
.Latest_Deals_image_1,
.Latest_Deals_image_2 {
  position: relative;
  border-radius: 10px;
  margin: 5px;
}
.Latest_Deals_image_section_1,
.Latest_Deals_image_section_2 {
  position: absolute;
  top: 70px;
  right: 60px;
  color: white;
}

.Latest_Deals_big_image {
  margin-top: 5px;
  height: 410px;
  width: 100%;
  position: relative;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 2px;
  opacity: 90%;
}
.Latest_Deals_image_section_3 {
  position: absolute;
  top: 200px;
  right: 250px;
  color: white;
}

.shop_btn {
  color: white;
  background: none;
  border: none;
  border-bottom: 1px solid wheat;
  font-size: 20px;
}

.Join_Section {
  background-image: url(Assets/news-letter-bg.png);
  height: 400px;
}

.Join_Section_text {
  text-align: center;
  padding-top: 100px;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  
}
.input-button-group {
  margin-top: 10px;
  margin-left: 390px;
  display: flex;
  width: 500px;
  height:50px;
  border: none;
  overflow: hidden
}

.input-button-group input {
  flex: 1;
  border: none;
  padding: 10px;
  font-size: 16px;
  outline: none;
}

.input-button-group button {
  padding: 10px 20px;
  background-color: #e95a08;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.input-button-group button:hover {
  background-color: #3730a3;
}


.footer {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer_text {
  color: #a8aaaf;
}

.footer ul {
  list-style: none;
}

.footer ul li {
  display: flex;
  margin: 10px 10px;
  color: #a8aaaf;
  font-size: 15px;
}

@media (max-width: 768px) {
  .navbar ul {
    flex-direction: column;
    gap: 15px;
  }
  .logo{
    width: 80px;
  }
  .navbar ul li{
    display: none;
  }
  .cart{
    padding: 5px;
  }
  
  .hero_section {
    margin-top: 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
    margin-bottom: 0;
  }
  .hero-image img{
     width: 300px;
  }
  .hero_text_head{
    text-align: start;
    font-size: 30px;
    margin-top: -155px;
  }
  .hero_text{
    text-align: start;
    font-size: 15px;
    width: 100%;

  }
  .plants {
    font-size: 30px;
  }
  .plants_text {
    font-size: 15px;
  }

  .card_div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1px;
    
  }
  .card_text {
    font-size: 10px;
  }
  .price {
    font-size: 15px;
    font-weight: bold;
  }
  .card img {
    width: 180px;
    padding: 20px;
    margin-left: -10px;
    
  }
  .btn {
    display: block;
    width: 85%;
    font-size: 10px;
    padding: 10px 5px;
    display: inline-block;
    font-size: 10px;
    margin-top: 10px;
  }
  .plants_section {
    margin-top: 1px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-left: -42px;
  }
  .plants_image {
    width: 350px;
    margin-right: 20px;
  }
 
.badge {
  display: none;
}

  .plants_heading {
    color: black;
    text-align: start;
    font-size: 20px;
  }
  .Latest_Deals_heading {
    font-size: 35px;
  }
  .Latest_Deals_image {
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-left: -42px;
    
  }
  .Latest_Deals_big_image {
    width: 360px;
    height: 210px;
    margin-bottom:30px;
  }
.Latest_Deals_image_section_1,
.Latest_Deals_image_section_2 {
  position: absolute;
  top: 70px;
  right: 0px;
  color: white;
}
  .Latest_Deals_image_section_3 {
    position: absolute;
    top: 75px;
    right: 70px;
    color: white;
  }
.input-button-group {
  margin-top: 20px;
  margin-left: 30px;
  display: flex;
  width: 350px;
  height:40px;
  border: none;
  overflow: hidden
}

.input-button-group input {
  flex: 1;
  border: none;
  padding: 10px;
  font-size: 16px;
  outline: none;
}

.input-button-group button {
  padding: 5px 10px;
  background-color: #e95a08;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.Join_Section {
  height: 250px;
}


  .footer {
    flex-direction: column;
    align-items: start;
    margin-left: 10px;
  }
  .footer_text {
    font-size: 15px;
  }
  .footer img {
    margin: 10px;
  }
}
